#logo-search-menubtn {
    background-color: rgb(60, 60, 60);
    max-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#search-box {
    max-height: 25px;
}
#menu-btn {
    list-style-type: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav li {
    list-style-type: none;
}