body {
    width: 99%;
    min-height: 99%;
    background-color: rgb(60, 60, 60);
}

.app-logo {
    height: 28.5px;
    margin-top: 2px 0px 0px 0px;
    border: solid rgb(60, 60, 60) 1px;
    padding: 5px 5px 5px 0px;
    border-radius: 10px;
}

hr {
    height: 1px;
    background-color: rgb(60, 60, 60);
    border-radius: 0% 20%;
    width: 97%;
    justify-items: center;
}
h4 {
    text-align: center;
    margin: 5px auto 2px auto;
}

#logo-search-menubtn {
    background-color: rgb(60, 60, 60);
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid rgb(117, 168, 117) 2px;
}
#search-box {
    height: 25px;
    border-radius: 0px 10px 0px 10px;
}
/*making menu button responsive*/
#menu-btn {
    display: none;
}

.menu-btn-build {
    border: solid rgb(117, 168, 117) 0.5px;
    border-radius: 0px 10px 0px 10px;
    height: 25px;
    width: 35px;
}

#nav-menu {
    background-color:rgb(142, 166, 142);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    height: 30px;
    border: solid rgb(117, 168, 117) 2px;
    padding-bottom: 2px;
}

@media screen and (max-width: 650px){
    #menu-btn {
        margin-right: 2px;
        height: 30px;
        width: 35px;
        list-style-type: none;
        border: solid rgb(142, 166, 142) 2px;
        border-radius: 0px 10px 0px 10px;
        max-height: 30px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    #nav-menu {
        display: none;
    }
}

nav li {
    list-style-type: none;
    margin-top: 10px;
    align-items: center;
}
nav li a{
    text-decoration: none;
    border: solid rgb(60, 60, 60) 1px;
    border-radius: 0px 10px 0px 10px;
    background-color: rgb(60, 60, 60);
    color: white;
    padding: 3px;
}

#home-section {
    background-color:rgb(117, 168, 117);
    margin-top: 0px;
    border-radius: 20px;
}
#section-one, #section-two {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid rgb(60, 60, 60) 2px;
    border-radius: 20px;
    min-height: 200px;
}
#section-one li {
    border: solid rgb(60, 60, 60) 1px;
    padding: 25px 50px;
    border-radius: 10%;
    margin: 10px auto 10px auto;
    background-color:rgb(142, 166, 142);
    height: 120px;
    width: 150px;
}
#section-two li {
    border: solid rgb(60, 60, 60) 1px;
    padding: 25px 50px;
    border-radius: 10%;
    margin: 10px auto 10px auto;
    background-color:rgb(142, 166, 142);
    height: 120px;
}
#recent-book-title {
    padding-top: 10px;
}

#footer-items {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(142, 166, 142);
    height: 30px;
    padding-bottom: 1px;
}
#footer-items li a {
    text-decoration: none;
    border: solid rgb(60, 60, 60) 1px;
    border-radius: 0px 10px 0px 10px;
    background-color: rgb(60, 60, 60);
    color: white;
    padding: 3px;
}
#rights {
    text-align: center;
    color: white;
}

/* Book Lists and output section */
#folder-and-output-section {
    height: 700px;
    background-color:rgb(117, 168, 117);
    margin: 16px auto 16px auto;
    border-radius: 20px 0px 0px 20px;
}
#booklist {
    position: absolute;
    float: left;
    width: 30%;
    height: 700px;
    border: solid rgb(60, 60, 60) 2px;
    border-radius: 20px;
    margin-top: 9px;
}
#book-upload {
    display: none;
}
#book-upload-label {
    cursor: pointer;
    border: solid rgb(60, 60, 60) 2px;
    border-radius: 0px 10px 0px 10px;
    background-color: rgb(60, 60, 60);
    color: white;
    padding: 2px;
    margin-left: 2px;
}
#add-ebooklist-btn {
    cursor: pointer;
    border: solid rgb(60, 60, 60) 2px;
    border-radius: 0px 10px 0px 10px;
    padding: 2px;
    background-color:rgb(117, 168, 117);
    display: none;
    margin-top: 0px;
    background-color: rgb(60, 60, 60);
    color: white;
    padding: 2px;
}
#selected-book-info {
    display: none;
    margin-top: 5px;
    margin-bottom: 3px;
    border: solid rgb(60, 60, 60) 2px;
    border-radius: 10px;
    padding: 2px;
    background-color:rgb(117, 168, 117);
    color: white;
    max-width: 100%;
    height: 25px;
    font-size: 11px;
}

#book-title {
    color: white;
}
#book-output {
    height: 650px;
    width: 98%;
    margin: 0px 2px 2px 2px;
}
#books-output {
    position: absolute;
    margin-left: 30.5%;
    width: 70%;
    height: 700px;
    border: solid rgb(60, 60, 60) 2px;
    border-radius: 20px 20px 20px 20px;
    margin-top: 9px;
}
.injected-booklist {
    list-style: none;
    cursor: pointer;
    border: solid rgb(60, 60, 60) 2px;
    border-radius: 0px 10px 0px 5px;
    margin: 2px;
    padding: 1px 2px 1px 3px;
    color: white;
    max-width: 100%;
    font-size: 11px;
    background-color: rgb(60, 60, 60);
    color: white;
    padding: 2px;
}

/* about page section */
#about-ebookshelves {
    background-color:rgb(117, 168, 117);
    margin: 18px 0px 18px 0px;
    border-radius: 20px;
    height: auto;
    padding-bottom: 2%;
}
#about-note {
    border: solid rgb(60, 60, 60) 2px;
    border-radius: 20px 0px 20px 0px;
    margin: 12px 20% 0px 20%;
    padding: 15px;
    width: 60%;
    color: white;
    line-height: 25px;
    font-size: 20px;
}
#about-title {
    padding-top: 10px;
}

/* faq section */
#faq-section {
    background-color:rgb(117, 168, 117);
    margin: 18px 0px 18px 0px;
    border-radius: 20px;
    height: auto;
    padding-bottom: 1%;
}
#faq-list {
    border: solid rgb(60, 60, 60) 2px;
    border-radius: 20px 0px 20px 0px;
    margin: 2% 20% 2% 20%;
    padding: 15px;
    width: 60%;
    color: white;
    line-height: 25px;
    font-size: 20px;
}
#faq-title {
    padding-top: 10px;
}
.question {
    cursor: pointer;
}
.answer {
    background-color: rgb(60, 60, 60);
    border: solid rgb(60, 60, 60) 2px;
    border-radius: 0px 20px 0px 20px;
    padding: 15px;
}

/* devs contact page */
#dev-contact-page {
    background-color:rgb(117, 168, 117);
    margin: 18px 0px 18px 0px;
    border-radius: 20px;
    height: 520px;
    max-height: 700px;
}
.contact-title {
    padding-top: 10px;
}
#dev-contact-details {
    border: solid rgb(60, 60, 60) 2px;
    border-radius: 20px 0px 20px 0px;
    margin: 12px 20% 0px 20%;
    padding: 15px;
    width: 60%;
    color: white;
    line-height: 25px;
    font-size: 20px;
}
#contact-devs {
    border: solid rgb(60, 60, 60) 2px;
    border-radius: 20px 0px 20px 0px;
    margin: 12px 20% 0px 20%;
    padding: 15px;
    width: 60%;
    color: white;
    line-height: 25px;
    font-size: 20px;
}
#message {
    width: auto;
}
#submit {
    cursor: pointer;
    background-color: rgb(60, 60, 60);
    color: white;
    padding: 2px;
}